<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CreateScriptFpath" value="..\..\..\Database\Scripts\Create\" />
		<add key="ValidateScriptFpath" value="..\..\..\Database\Scripts\Validate\" />
		<add key="DbCreateFileName" value="00_CreateDatabase.sql" />
		<add key="TblStackCreateFileName" value="10_CreateTblStack.sql" />
		<add key="TblFlashCardsCreateFileName" value="11_CreateTblFlashCards.sql" />
		<add key="TblStudySessionsCreateFileName" value="12_CreateTblStudySession.sql" />
		<add key="VwFlashCardsCreateFileName" value="20_CreateVwFlashCards.sql" />
		<add key="VwStudySessionsCreateFileName" value="21_CreateVwStudySessions.sql" />
		<add key="VwFlashCardsRenumberedCreateFileName" value="22_CreateVwFlashCardsRenumber.sql" />
		<add key="DbName" value="FLASHCARDS" />
		<add key="TblStackName" value="tb_Stack" />
		<add key="TblFlashCardsName" value="tb_FlashCards" />
		<add key="TblStudySessionsName" value="tb_StudySessions" />
		<add key="VwFlashCardsName" value="vw_FlashCards" />
		<add key="VwStudySessionsName" value="vw_StudySessions" />
		<add key="VwFlashCardsRenumberedName" value="vw_FlashCardsRenumbered" />
	</appSettings>
	<connectionStrings>
		<add name="dbMasterConnectionString" connectionString="Server=(local);Database=master;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<add name="dbFlashCardsConnectionString" connectionString="Server=(local);Database=FLASHCARDS;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>